<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Scientific Prediction</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/css/global.css" />
    <link href="/css/m2-custom.css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://requirejs.org/docs/release/2.1.11/minified/require.js"></script>
    <style>
        body {
            overflow:hidden;
        }
    </style>
</head>

<body>
<div class="body-container">
    <div class="header-container">
        <a href="/user/user-home" class=""><img alt="Scientific Prediction" src="/images/logo.png" /></a>
        <button type="button" class="btn pull-right button" onclick="logOut()" >Sign Out</button>
    </div>
    <div class="main-container">
        <div class="row inner-container">
            <div class="pull-left menu-contianer">
                <div class="menu-header">
                </div>
                <ul class="menu-list">
                    <li>
                        <a href="/user/user-home" class="menu-link linkicon-home">Home page</a>
                    </li>
                    <li>
                        <a href="/user/user-keys" class="menu-link linkicon-keys">My Account</a>
                    </li>
                    <li>
                        <a href="/user/user-apis" class="menu-link linkicon-apis">API Information</a>
                    </li>
                    <li>
                        <a href="/user/pricing-model" class="menu-link linkicon-pricing">Pricing Details</a>
                    </li>
                    <li>
                        <a href="/user/email-config" class="menu-link linkicon-email-config">Event Configuration</a>
                    </li>
					<li>
                        <a href="#" class="menu-link linkicon-about  active">About Us</a>
                    </li>
                    <li>
                        <a href="/user/contact-us" class="menu-link linkicon-contact">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class='pull-left display-container'>
				<div class="container m2-about">
				  <div class="row m2-spacer"></div>

					<div class="col-sm-8 m2-about">
					  <h1>Tricon Labs is working on predictive analysis techniques from past 2 years. "Predict Me" is a result of sheer hardwork, focussed dedication and rigorous research on cutting edge technologies and machine learning algorithms. The product "Predict Me" creates a hypothesis based on the historical data provided, lets you predict the outcome from the decision tree. </h1>
					</div>

					<div class="col-sm-4">
					  <div class="m2-mt-27px"> </div>
					  <img src="/img/tricon.png" style="height:250px; width:250px"/>
					</div>
					<div class="col-sm-12">
					  <p>With a motto to continuously evolve by providing best-in-class engineering, software products and services, we believe in providing services different from the traditional hammer-nail solutions. In addition to IT consulting, software development, maintenance, re-engineering, offshore services and custom software development, we focus on building our expertise in the latest trends such as web solutions, responsive design, <a href="http://www.triconinfotech.com/services/creative-services/">creative services</a>, <a href="http://www.triconinfotech.com/services/content-services/">content services</a>, analytic solutions, data driven products and big data. Tricon Infotech’s major achievement becomes it being a preferred vendor of SAP.</p>
					  <p>Our belief to serve our clients beyond the contractual boundaries has stood us apart and has strengthened our ties with our clients, some of whom have been associated with us for almost a decade. All of our software and outsourcing services are managed from our sites in Bangalore, India.</p>
					  <p>Using our industry knowledge, expertise gained, technological capabilities and service offerings, we identify emerging business and technology trends and develop solutions catering to the needs of the growing competitive market. Being a well-known brand for Web and Software Development plus IT Consulting in India and worldwide, our quality assured, cost-effective and time-bound IT solutions have created an elite clientele that includes several leading companies. Set up and managed by an IITian in Bangalore with state-of-the art infrastructure, matured processes and a team of competent techies provide the base platform for our successes.</p>
					  <p>We are rated as one of the best value-for-money solutions provider for IT consulting in Bangalore, India. As a result, we have grabbed some the most prestigious clients from across the globe. We have served clients in India, USA and UAE with our world-class software development, offshore development and IT consulting. We have aided our clients in their successful endeavors by providing skilled and experienced resources always. Thus we have advanced as a key player in IT consulting and offshore developments.</p>
					   <div class="m2-spacer"></div>
					  <h2 class="">Senior Management</h2>
					  <hr>
					</div>
					  <div class="col-sm-6">
						<h2>Rajeeva Kumar Parasar</h2>
						<h6>CEO</h6>
						<p>Rajeeva Parasar, a 22 year veteran in the software industry, is a graduate from IIT Kanpur. Rajeeva ventured into entrepreneurship by setting up Tricon Infotech 17 years back. Rajeeva serves as the CEO and is responsible for the overall Planning, Organizational Management, Finance and Production operations.</p>
						<p>Rajeeva is known for his innovation and experience in all facets of the software industry including Executive Management, Sales, R&D, Quality, Project Management, System Analysis & Design, and Information Strategy Planning. He has worked extensively with customers in the US, Canada, Middle East and India. He is best known for providing consulting Solutions to large business and technology organizations by establishing and maintaining long term business relationships with them.</p>
					  </div>
					  <div class="col-sm-6">
						<h2>Prashant R. Naik</h2>
						<h6>Director</h6>
						<p>Prashant has over 18 years of experience in the software industry. He has been with Tricon Infotech since the year 2000. Prashant has experience in many aspects of the software industry including Executive Management, R&D, Quality, Project Management, and System Analysis and Design. He has worked closely with customers in the US and in India.</p>
						<p>Prashant is involved in project planning, resource management, technical reviews and customer liaison. Prashant has a Bachelor of Engineering degree from Manipal Institute of Technology, Manipal.</p>
					  </div>
					<div class="row m2-spacer"></div>
					  <div class="col-sm-6">
						<h2>A.K. Sarin</h2>
						<h6>Director</h6>
						<p>A. K. Sarin has over 20 years of experience in Technology Marketing with Fortune 100 companies in the United States. A. K. started his career with Time Warner, where he was a Project Manager developing retail stores for the cable industry. In 1983, he joined AT&T to market telecommunications solutions to the Fortune 500 companies.</p>
						<p>In 1987 he was promoted to National Accounts Manager and then to Regional Marketing Manager with AT&T Network Systems, now known as Lucent Technologies. His responsibilities were expanded to handle AT&T Information Systems Marketing in the same year. In 1990 when AT&T bought NCR, under the AT&T Global Systems umbrella A.K. was appointed as Regional Marketing Manager, responsible for Information Technologies sales to U S WEST.<br>
						 In 1993, A.K. resigned to start his own company. The Company grew under A.K.’s management and he later sold the company. He then joined Qwest Communications as Program Manager overseeing their e-commerce efforts. In 2002, he was assigned to manage the marketing efforts for Tricon in the United States. A.K. Sarin has a B.Sc. degree in Physics and an MBA in Marketing and Finance from Loyola.</p>
					  </div>
					 
				</div>
    
			  
			  
			  
			  
            </div>
        </div>
    </div>
    <div class="text-center footer-container">
        © 2016 Tricon Infotech Private Limited. All Rights Reserved.
    </div>
</div>

<script type="text/javascript">

    /*++++++++++++++++++++++ LOGOUT FUNCTION +++++++++++++++++++++++++++*/
    function logOut() {
        window.sessionStorage.clear();
        $.ajax({
            url: '/user/logout',
            type: 'GET',
            success: function(response) {
                window.location.href = '/';
            }

        });
    }
    
</script>
</body>
</html>
