<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/app.css">
		<script src="/jquery/1.11.3/jquery.min.js"></script>
		<script src="/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>

	<body>
		<div class>
			<div class="text-center">
				<img class="main-logo" src="/img/tricon-logo-01.png" alt="Header-Logo">
			</div>
			<div class="file-upload container">
				<div class="row">
					<div class="file-upload-form col-sm-4">
						<form>
							<div class="form-group">
								<label for="fileUpload">File input</label>
								<input type="file" id="fileUpload">
								<!-- <p class="help-block">Example block-level help text here.</p> -->
							</div>
							<button type="submit" class="btn btn-primary btn-sm">Upload</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>