<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Scientific Prediction</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap2.min.css" />
<link rel="stylesheet" type="text/css" href="/css/global2.css" />
<script type="text/javascript">

function navigate(){
	window.location.href="/predict";
}

</script>
</head>

<body>
<div class="body-container">
	<div class="header-container">
    	<a href="javascript:;" class="home-link"><img alt="Logo" src="/images/logo2.png"/><span class="home-link-text">ScientificPrediction.com</span></a>
    </div>
	<div class="main-container" style="padding-top: 15%; text-align: center;">
    	<button type="button" onclick="navigate()" class="btn btn-primary">Let's Predict the Future</button>
    </div>
</div>
</body>
</html>
