<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Scientific Prediction</title>
	<link rel="stylesheet" href="/bootstrap/3.3.5/css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="/css/global.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!--<script type="text/javascript" src="parse-latest/js/parse-latest-10Oct15.js"></script>-->
	<script src="/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/message-pop-up.js"></script>

	<link href="/css/message-pop-up.css" rel="stylesheet">
</head>

<body>
    <div class="body-container">
        <div class="header-container">
            <a class=""><img alt="Scientific Prediction" onclick="location.href='/';" src="/images/logo.png" /></a>
						<button type="button" class="btn pull-right button" onclick="window.location.href='/user/signup';">Sign up for free</button>
        </div>
        <div class="main-container">
          <div class="entry-panel-container">
            <div class="panel">
            	<div class="panel-heading text-center">
                	Access your dashboard
                </div>
                <div class="panel-body">
									<form id="loginForm">
										<div class="form-group signin-username">
													<div class="input-group">
														<input type="text" name="username" id="signin-username" placeholder="Email Address" class="form-control">
														<span class="input-group-addon glyphicon"></span>
													</div>
													<h6 class="signin-username-error hidden" style="color: red;"> * Please enter a valid email.</h6>
											</div>
											<div class="form-group signin-password">
													<div class="input-group">
															<input type="password" name="password" id="signin-password" class="form-control" placeholder="Password">
															<span class="input-group-addon glyphicon"></span>
													</div>
													<h6 class="signin-password-error hidden" style="color: red;"> * Please enter password.</h6>
											</div>
											<h6 class="password-username-error hidden" style="color: red;"> * Invalid username/password.</h6>
											<div>
												<a href="/user/reset-password">Forgot your password ?</a></button>
											</div>
											<button id="signin" type="submit" class="btn btn-primary login1 pull-right">Login</button>
									</form>
								</div>
            </div>
          </div>
        </div>
        <div class="text-center footer-container">
            © 2015 Tricon Infotech Private Limited. All Rights Reserved.
        </div>
    </div>
    
    <!-- <script type="text/javascript" src="js/email-validation.js"></script> -->
		<script type="text/javascript">
			$(document).ready(function(){
				$("#signin").on("click", validateLogin);
			});
			function validateLogin(event) {
				event.preventDefault();
			
				var username = $("#signin-username").val();
				var password = $("#signin-password").val();
				
				$(".signin-username-error").addClass("hidden");
				$(".signin-password-error").addClass("hidden");
				$(".password-username-error").addClass("hidden");
				
				if (!validateEmail(username)) {
					$(".signin-username-error").removeClass("hidden");
					return false;
				} else
				if (!password) {
					$(".signin-password-error").removeClass("hidden");
					return false;
				}

							$.ajax({
								url: '/user/login',
								type: 'POST',
								data: JSON.stringify({username: username, password: password}),
								contentType: "application/json",
								success: function(response) {
									if (response.success) {
										window.sessionStorage.setItem('userId', response.user);
										//console.log("login success"+response.user);
                                        popup("login success");
										window.location.href = "/user/user-home";
									} else {
										$(".password-username-error").removeClass("hidden");
										return false;
									}
								},
								error: function (error) {
									console.log("Login Error:"+error.message);
									$(".password-username-error").removeClass("hidden");
									return false;
									popup('Sorry, an unexpected error occurred. Please try again later.');
								}
							});
			}
			
			/*
			 * Function to check entered email format
			 */
			function validateEmail (name) {
				/*
				 * Below regular expression tests for validity of entered email. Explained below
				 * [^<>()[\]\\.,;:\s@\"]                                -> The first character of the email address cannot be any of <>()[]\.,;:\s@"
				 * \.[^<>()[\]\\.,;:\s@\"]                              -> after a "." character the next character cannot be any of <>()[]\.,;:\s@"
				 * @                                                    -> matches the "@" character
				 * (\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\]) -> after the "@" character it can be either an ip address or
				 * (([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))                   -> after the "@" character there should be at-least a "." character followed by 2 or more alphabets  
				 */
				var reg = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
				return reg.test(name);
			}
			
			
		</script>
</body>
</html>
