<!DOCTYPE html>
<html lang="en">
	<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}.ng-hide-add-active,.ng-hide-remove{display:block!important;}</style>
    <title>PREDICT ME</title>
    
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/css/reference.css">
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
	
	<link rel="stylesheet" href="/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/app.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		
    <script async="" src="/js/analytics.js"></script><script type="text/javascript">
      (function() {
        window.MD = {
          root: ''
        };
      }());
    </script>
    <script type="text/javascript" src="/js/es5-shim.js"></script>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/angular.js"></script>
    <script type="text/javascript" src="/js/filters.js"></script>
    <script type="text/javascript" src="/js/factories.js"></script>
    <script type="text/javascript" src="/js/services.js"></script>
    <script type="text/javascript" src="/js/directives.js"></script>
    <script type="text/javascript" src="/js/mdCarousel.js"></script>
    <script type="text/javascript" src="/js/mdInsertText.js"></script>
    <script type="text/javascript">
      (function() {
        if (window.hasOwnProperty('angular')) {
          angular.module('winwrap', [
            'filters', 'directives', 'factories', 'services',
            'app/mdCarousel', 'app/mdInsertText'
          ]);
        }
        $(document).on('ready', function() {
          $('#site-search input')
            .on('focus', function() {
              $(this).stop(true, true).animate({ width: '100px' }, 150);
            })
            .on('blur', function() {
              $(this).stop(true, true).animate({ width: '40px' }, 50);
            });
        });
      }());
    </script>
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-56235497-1', 'auto');
      ga('send', 'pageview');
      if (location.href != '' && location.href != 'http:') {
        ga('send', 'event', 'pageview', location.href);
      }
    </script>
  <style data-c2c="c2c_print_container_style" media="print" type="text/css">span.skype_c2c_print_container {} span.skype_c2c_container {display:none !important;} .skype_c2c_menu_container {display:none !important;}</style>
  <script src="chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/telemetry.js"></script>
  <script src="chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/menu_handler.js"></script>
	
	
	
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
	</head>

	<body ng-app="winwrap">
		<div class="main-container">
			<!--div class="header container-fluid">
				<div class="row">
					<div class="header-left col-xs-6 col-sm-4 col-md-4 ">
						<img class="main-logo" onclick="location.href='/';" src="/img/logo.png" alt="Header-Logo">
					</div>
					<div class="header-center col-xs-0 col-sm-4 col-md-4 text-center"></div>
					<div class="header-right col-xs-6 col-sm-4 col-md-4 text-right">
						<button type="button" class="btn btn-custom" onclick="window.location.href='/user/login';">Login</button>
						<button type="button" class="btn btn-custom" onclick="window.location.href='/user/signup';">Sign up for free</button>
					</div>
				</div>
			</div-->
			
			
			
			<!--div class="intro-container text-center container-fluid">
				<img src="/videos/display-animation-new.gif" class="intro-gif" alt="Build your perfect app on any platform.">
				<h1 class="intro-h1">Future is not a Mystery anymore!!!</h1>
				<h1 class="intro-p">A cloud based analytical tool to predict the likelihood of future occurrences. Track the events and upload the data to find the result of an event. An alarm which wakes you up before its late.</h1>
				<button type="button" class="btn btn-intro-learn btn-lg">Learn More</button>
				<button type="button" class="btn btn-intro-start btn-lg" onclick="location.href='signup.html';">Get started for free</button>
			</div-->
			
			
<div id="content-wrapper">
    
  <div class="container light">
  <div class="content italic compact">
   
   A cloud based analytical tool to predict the likelihood of future occurrences. Track the events and upload the data to find the result of an event. An alarm which wakes you up before its late.
  </div>
</div>

<div data-timeout="7" data-scroll="2.8" data-md-carousel="[
    {
      img: &#39;Capture1.PNG&#39;,
      title: &#39;Predict ME@HOME&#39;,
      icon: &#39;fa-globe&#39;,
      link: &#39;#basic-world&#39;
    },
    
    {
      img: &#39;Capture2.PNG&#39;,
      title: &#39;Generate AppKey and SecretKey&#39;,
      icon: &#39;fa-arrow-circle-o-up&#39;,
      link: &#39;#basic-upgrade&#39;
    },
    
    {
      img: &#39;CreateDomain.PNG&#39;,
      title: &#39;Create your own domain&#39;,
      icon: &#39;fa-flask&#39;,
      link: &#39;#basic-ide&#39;
    },
    {
      img: &#39;CreateEntity.PNG&#39;,
      title: &#39;Add entity to your domain&#39;,
      icon: &#39;fa-code&#39;,
      link: &#39;#basic-upgrade&#39;
    },
	 {
      img: &#39;CreateHeaders.PNG&#39;,
      title: &#39;Create headers to your training data&#39;,
      icon: &#39;fa-keyboard-o&#39;,
      link: &#39;#basic-extend&#39;
    },
	 {
      img: &#39;CreateTrainingData.PNG&#39;,
      title: &#39;Add your training data&#39;,
      icon: &#39;fa-cloud-upload&#39;,
      link: &#39;#basic-equipment&#39;
    },
	 {
      img: &#39;PredictResult.PNG&#39;,
      title: &#39;Predict Result&#39;,
      icon: &#39;fa-pie-chart&#39;,
      link: &#39;#basic-report&#39;
    },
	 {
      img: &#39;Capture3.PNG&#39;,
      title: &#39;Useful APIs and Urls&#39;,
      icon: &#39;fa-copy&#39;,
      link: &#39;#basic-report&#39;
    },
	 {
      img: &#39;Capture4.PNG&#39;,
      title: &#39;Pricing details&#39;,
      icon: &#39;fa-dollar&#39;,
      link: &#39;#basic-report&#39;
    },

   
    ]" class="ng-isolate-scope carousel" style="height: 824px;"></div>

	<div class="container dark" id="basic-world">
  <div class="content">
    <h1 class="border"><img src="img/slideShow/logo-dark.png" width="40"> Overview</h1>
    <div class="highlight-container">
      <div class="highlight-img">
        <i class="fa fa-globe" style="font-size: 110px; opacity: 0.2;"></i>
        <p class="mini"></p>
      </div>
      <div class="highlight-box">
        <ul>
		  <li>The future is an undiscovered country. It is unknown and unknowable.</li>
          <li>And yet, we can shape it. We can prepare. We can dream.</li>
          <li>PREDICT ME is a platform for our clients to predict the future occurrences of an event by feeding the system with historical data.</li>
          <li>It is amalgamation of sheer hard work and dedication, Machine learning, lots of maths, and continuous effort of out team.</li>
        </ul>
       </div>
    </div>
  </div>
</div>
	
	
<div class="container white" id="basic-world">
  <div class="content">
    <h1 class="border"><img src="img/slideShow/logo-dark.png" width="40"> Generation of Keys</h1>
    <div class="highlight-container">
      <div class="highlight-img">
        <i class="fa fa-arrow-circle-o-up" style="font-size: 110px; opacity: 0.2;"></i>
        <p class="mini"></p>
      </div>
      <div class="highlight-box">
        <ul>
          <li>By clicking on the Generate Key button in the Keys tab.</li>
          <li>Two keys namely appKey & secretKey will be generated.</li>
          <li>The keys will be unique for each registered account. So the same keys will be used for all domains & entities of the account.</li>
		  <li>The keys have to be included in the request headers while making a request to any of the REST-API of PredictMe</li>
        </ul>
        <table>
          <tbody><tr>
            <td>
              We've put together this convenient and effective
              Pictorial Index to the PREDICT ME App for your convenience.
            </td>
            <td>

                <img border="0" src="img/slideShow/keys.png" alt="WinWrap&amp;reg; Basic Solutions">

            </td>
          </tr>
        </tbody></table>
      </div>
    </div>
  </div>
</div>

<div class="container dark" id="basic-ide">
  <div class="content">
    <h1 class="border"><img src="img/slideShow/logo-white.png" width="40"> Creating Domain</h1>
    <div class="highlight-container">
      <div class="highlight-img">
        <i class="fa fa-flask" style="font-size: 110px; opacity: 0.2;"></i>
        <p class="mini"></p>
      </div>
      <div class="highlight-box">
        <ul>
		  <li>A domain is a generic field of study, to carry on predictive analysis.</li>
          <li>Example: 'Health Sciences'</li>
          <li>The domains are uniquely identified by name.</li>
          <li>Note : Special characters are restricted from using in domain name.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container white" id="basic-upgrade">
  <div class="content">
    <h1 class="border"><img src="img/slideShow/logo-dark.png" width="40"> Creating Entity</h1>
    <div class="highlight-container">
      <div class="highlight-img">
        <i class="fa fa-code" style="font-size: 110px; opacity: 0.2;"></i>
        <p class="mini"></p>
      </div>
      <div class="highlight-box">
        <ul>
		  <li>An entity is a sub-field of the domain.</li>
          <li>Example: 'Heart Stroke'</li>
          <li>The entities are uniquely identified by name.</li>
          <li>Note : Special characters are restricted from using in entity name.</li>
        </ul>
       </div>
    </div>
  </div>
</div>

<div class="container dark" id="basic-extend">
  <div class="content">
    <h1 class="border"><img src="img/slideShow/logo-white.png" width="40"> Uploading Headers for the domain & entity combination</h1>
    <div class="highlight-container">
      <div class="highlight-img">
        <i class="fa fa-external-link-square" style="font-size: 110px; opacity: 0.2;"></i>
        <p class="mini"></p>
      </div>
      <div class="highlight-box">
        <ul>
	      <li>The json to be posted for uploading headers should be of the format :</li>
          <li>{ "headers" : [ { "index" : 0, "attributeName" : "Height", "attributeType" : "numeric" }, { "index" : 1, "attributeName" : "Name", "attributeType" : "nominal", "attributeValues" ["Name1", "Name1", "Name1"] } ] }</li>
          
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container white" id="basic-equipment">
  <div class="content">
    <h1 class="border"><img src="img/slideShow/logo-dark.png" width="40"> Upload Historical data for the domain & entity combination.</h1>
    <div class="highlight-container">
      <div class="highlight-img">
        <i class="fa fa-cloud-upload" style="font-size: 110px; opacity: 0.2;"></i>
        <p class="mini"></p>
      </div>
      <div class="highlight-box">
        <ul>
		  <li>The json to be posted for uploading historical data should be of the format :</li>
          <li>{ "data" : [ { "datum" : "a1,a2,a3,a4,.....,an,t" } ] }</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container dark" id="basic-report">
  <div class="content">
    <h1 class="border"><img src="img/slideShow/logo-white.png" width="40"> Upload Prediction data for the domain & entity combination.</h1>
    <div class="highlight-container">
      <div class="highlight-img">
        <i class="fa fa-pie-chart" style="font-size: 110px; opacity: 0.2;"></i>
        <p class="mini"></p>
      </div>
      <div class="highlight-box">
        <ul>
          <li>The json to be posted for uploading prediction data should be of the format :</li>
          <li>{ "data" : [ { "datum" : "a1,a2,a3,a4,.....,an," } ] }</li>
        </ul>
      </div>
    </div>
  </div>
</div>
		</div>
	</body>
</html>